



@keyframes leftArrow {
  100% {
    -webkit-transform: rotate(225deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* page not found */


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;

  .text-center {
    text-align: center;

    h1,
    h3 {
      margin: 10px;
      cursor: default;

      .fade-in {
        animation: fadeIn 2s ease infinite;
      }
    }

    h1 {
      font-size: 8em;
      transition: font-size 200ms ease-in-out;
      border-bottom: 1px dashed white;

      span#digit1 {
        animation-delay: 200ms;
      }

      span#digit2 {
        animation-delay: 300ms;
      }

      span#digit3 {
        animation-delay: 400ms;
      }
    }

    button {
      border: 1px solid white;
      background: transparent;
      outline: none;
      padding: 10px 20px;
      font-size: 1.1rem;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      transition: background-color 200ms ease-in;
      margin: 20px 0;

      &:hover {
        background-color: white;
        color: #555;
        cursor: pointer;
      }
    }
  }
}

@keyframes colorSlide {
  0% {
    background-color: #152a68;
  }

  25% {
    background-color: royalblue;
  }

  50% {
    background-color: seagreen;
  }

  75% {
    background-color: tomato;
  }

  100% {
    background-color: #152a68;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  ;

  100% {
    opacity: 1;
  }
}

#slides-holder, .slide {
  position: relative;
  width: 100%;
}

.slide, .slide.fixed {
  top: 0;
  left: 0;
  width: 100%;
}



.slide {
  background-size: 500px 500px; /* Modified to set the background size to 500px x 500px */
  background-position: center center;
  background-repeat: no-repeat;
}

.slide.fixed {
  position: fixed;
}

.slide-fake-height {
  position: relative;
  display: none;
}

.slide-fake-height.visible {
  display: block;
}

.fade-text {
  display: inline-block;
  position: absolute;
  font-family: HelveticaNeue, helvetica, arial;
  font-size: 60px;
  opacity: 0.2;
}

#slide-1 {
  background-image: url(https://res.cloudinary.com/dzpv5gmyw/image/upload/c_fill,h_500,w_500/v1468502671/demo/img7.jpg); /* Modified to set the image size to 500px x 500px */
}

#slide-1 .fade-text {
  left: 5%;
  top: 40%;
}

#slide-2 {
  background-image: url(https://res.cloudinary.com/dzpv5gmyw/image/upload/c_fill,h_500,w_500/v1468502667/demo/img8.jpg); /* Modified to set the image size to 500px x 500px */
}

#slide-2 .fade-text {
  left: 5%;
  top: 40%;
}

#slide-3 {
  background-image: url(https://res.cloudinary.com/dzpv5gmyw/image/upload/c_fill,h_500,w_500/v1468502664/demo/img1.jpg); /* Modified to set the image size to 500px x 500px */
}

#slide-3 .fade-text {
  color: #fff;
  left: 5%;
  top: 20%;
}



.image-cursor {
  position: fixed;
  top: 0;
  left: 0;
  margin: -15px 0 0 -15px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  transition: all ease-out 120ms;
  box-shadow: 0 0 8px 0px #111;
  overflow: hidden;
  opacity: 0;
  z-index: 998;
}