/* Banner.css */
.banner {
  position: relative;
  overflow: hidden;
  height: 607px;
}
.banner-video {
  width: 100%;
  height: calc(100vh - 50px);
  object-fit: cover;
}
  .content {
    color: #fff;
    left: 28.3%;
    position: absolute;
    text-align: left;
    top: 55%;
    transform: translate(-29%,-50%);
}

.exp_btn a {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 31px;
  display: inline-block;
  font-weight: 500 !important;
}
span.icon_span svg {
  margin-bottom: -6px;
  margin-right: -8px;
  margin-left: 20px;
}
.content h1 {
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
}

.content p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  width: 80%;
  padding-bottom: 30px;
}
  