/* Banner.css */
.banner {
  position: relative;
  overflow: hidden;
}

.banner_img_hi {
  /* background: linear-gradient(45deg, black, transparent), url(http://localhost:3000/static/media/banner_img_one.78343c93f8d60da5f570.jpg); */
  background: linear-gradient(45deg, black, transparent), url('../public/images/banner/banner_img_one.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 160px;
}
.content {
  width: 60%;
}
/* .banner-video {
  width: 100%;
  height: calc(100vh - 50px);
  object-fit: cover;
} */

  /* .content {
    color: #fff;
    left: 28.3%;
    position: absolute;
    text-align: left;
    top: 55%;
    transform: translate(-29%,-50%);
} */

.exp_btn a {
  color: #fff;
  border: 1px solid #fff;
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 17px;
  line-height: 30px;
  display: inline-block;
  font-weight: 400 !important;
}
.content {
  width: 50%;
}
span.icon_span svg {
  margin-bottom: -6px;
  margin-right: -8px;
  margin-left: 20px;
}
.content h1 {
  margin-bottom: 10px;
  font-size: 49px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
}
.content p {
  color: #ebebeb;
  font-size: 20px;
  font-weight: 400;
  width: 80%;
  padding-bottom: 10px;
}
